@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.active {
  border-bottom: 2px solid black;
}
.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
}

/* ==================footer css============= */

.footer {
  padding: 20px;
  color: white;
  background-color: #111111;
}
.footer a {
  text-decoration: none;
  color: white;
  padding: 14px;
}
.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* ======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */

/* register css */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
 
}

.form-container form
{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 1rem 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px 5px;
}
.form-container form button
{
  color:black;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  outline: none;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}